@import "~bulma/bulma";

$left-Color : #e5e5ff;
$right-Color : #ffeaea;
$box-Color : #f1f1f1;

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


div.columns {
  min-height: 100vh;
  margin: 0;

  div#col-left {
    background-color: $left-Color;

    h2.subtitle {
      margin: 0;
    }

    input, textarea {
      margin-bottom: 2vh;
    }

  }
  div#col-right {
    background-color: $right-Color;
    text-align: center;
  }
}
div.box {
  background-color: $box-Color;
  text-align: left;
}
