@import "~bulma/bulma";

$left-Color : #e5e5ff;
$right-Color : #ffeaea;
$box-Color : #f1f1f1;

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



html {
overflow: hidden;
height: 100%;


  div.modal.is-active#modal_Template {
    ul {
      list-style: disc;
      list-style-type: disc;
      margin-left: 2rem;
    }
  }

  div.columns {
    margin: 0 !important;
    height: 100%;
    overflow: hidden;

    div#col-left {
      height: 100vh;
      overflow: auto;
      background-color: $left-Color;

      h2.subtitle {
        margin: 0;
      }

      input, textarea {
        margin-bottom: 2vh;
      }

    }
    div#col-right {
      h2.subtitle.is-3.disable-select {
        text-align: center;
      }

      background-color: $right-Color;
      height: 100vh;
      overflow: auto;

      div.box {
        background-color: $box-Color;
        text-align: left;
        pre{
          font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }
      }
    }
  }
  
  // `div.columns`の外に存在するため外に放り込む
  article.message.is-success {
    position: absolute;
    right: -180px;
    bottom: 2rem;
  }

  .enable{
    animation: fadeIn 0.5s;
    right: 0px !important;
  }

  .disable {
    animation: fadeOut 0.5s;
  }
}

//フェードイン
@-webkit-keyframes fadeIn{
  from {right: -180px; opacity: 0;}

  to {right: 0; opacity: 1;}
}

@keyframes fadeIn{
  from {right: -180px; opacity: 0;}
  to {right: 0; opacity: 1;}
}

//フェードアウト
@-webkit-keyframes fadeOut{
  from {right: 0; opacity: 1;}
  to {right: -180px; opacity: 0;}
}

@keyframes fadeOut{
  from {right: 0; opacity: 1;}
  to {right: -180px; opacity: 0;}
}
